# API url
NEXT_PUBLIC_API_BASE_URL=https://localhost:7071
NEXT_PUBLIC_TIMEZONE=Europe/Oslo

# Booking slot configuration
#(minutes, increments of 5 recommended, API rejects based on %5 validation )
NEXT_PUBLIC_APPOINTMENT_INTERVAL=15
#(hours, whole numbers, 24h format, haven't supported decimal hours yet)
NEXT_PUBLIC_APPOINTMENT_START=8
NEXT_PUBLIC_APPOINTMENT_END=16